.homeSwiper {
  :global {
    .swiper-wrapper {
      transition-timing-function: linear;
    }

    .swiper-pagination {
      .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
      }
    }
  }
}
